//6.Border Radius - The general roundness of the elements

// Main spacing system
.border-radius-0 {
  border-radius: 0;
}

.border-radius-2 {
  border-radius: .2rem;
}

.border-radius-4 {
  border-radius: .4rem;
}

.border-radius-8 {
  border-radius: .8rem;
}

.border-radius-12 {
  border-radius: 1.2rem;
}

.border-radius-16 {
  border-radius: 1.6rem;
}

.border-radius-24 {
  border-radius: 2.4rem;
}

.border-radius-32 {
  border-radius: 3.2rem;
}

.border-radius-48 {
  border-radius: 4.8rem;
}

.border-radius-64 {
  border-radius: 6.4rem;
}

.border-radius-80 {
  border-radius: 8.0rem;
}

.border-radius-96 {
  border-radius: 9.6rem;
}

.border-radius-128 {
  border-radius: 12.8rem;
}

// Extra values
.border-radius-10 {
  border-radius: 1.0rem;
}

.border-radius-20 {
  border-radius: 2.0rem;
}

.border-radius-40 {
  border-radius: 4.0rem;
}

.border-radius-56 {
  border-radius: 5.6rem;
}

.border-radius-72 {
  border-radius: 7.2rem;
}

.border-radius-104 {
  border-radius: 10.4rem;
}

.border-radius-112 {
  border-radius: 11.2rem;
}

.border-radius-120 {
  border-radius: 12.0rem;
}

//Percentages
.border-radius-10-percent{ border-radius: 10% }
.border-radius-20-percent{ border-radius: 20% }
.border-radius-25-percent{ border-radius: 25% }
.border-radius-30-percent{ border-radius: 30% }
.border-radius-33-percent{ border-radius: 33.33% }
.border-radius-40-percent{ border-radius: 40% }
.border-radius-50-percent{ border-radius: 50% }
.border-radius-60-percent{ border-radius: 60% }
.border-radius-66-percent{ border-radius: 66.67% }
.border-radius-70-percent{ border-radius: 70% }
.border-radius-75-percent{ border-radius: 75% }
.border-radius-80-percent{ border-radius: 80% }
.border-radius-90-percent{ border-radius: 90% }
.border-radius-100-percent{ border-radius: 100% }
