//2. Colors
//COLORS from Open Colors

/*1. GRAY*/
.gray-00 { color: #f8f9fa; } //Lightest
.gray-02 { color: #e9ecef; } //Lighter
.gray-04 { color: #ced4da; } //Light

.gray-05 { color: #adb5bd; } //Dark
.gray-07 { color: #495057; } //Darker
.gray-09 { color: #212529; } //Darkest


//2. RED
.red-00 { color: #fff5f5; } //Lightest
.red-02 { color: #ffc9c9; } //Lighter
.red-04 { color: #ff8787; } //Light

.red-05 { color: #ff6b6b; } //Dark
.red-07 { color: #f03e3e; } //Darker
.red-09 { color: #c92a2a; } //Darkest

//3. PINK
.pink-00 { color: #fff0f6; } //Lightest
.pink-02 { color: #fcc2d7; } //Lighter
.pink-04 { color: #f783ac; } //Light


.pink-05 { color: #f06595; } //Primary
.pink-07 { color: #d6336c; } //Dark
.pink-09 { color: #a61e4d; } //Darker


// 4. GRAPE / ( MAGENTA / FUCHSIA ) Grape-Zabibu,
.grape-00 { color: #f8f0fc; } //Lightest
.grape-02 { color: #eebefa; } //Lighter
.grape-04 { color: #da77f2; } //Light

.grape-05 { color: #cc5de8; } //Dark
.grape-07 { color: #ae3ec9; } //Darker
.grape-09 { color: #862e9c; } //Darkest

.magenta-00 { color: #f8f0fc; } //Lightest
.magenta-02 { color: #eebefa; } //Lighter
.magenta-04 { color: #da77f2; } //Light

.magenta-05 { color: #cc5de8; } //Dark
.magenta-07 { color: #ae3ec9; } //Darker
.magenta-09 { color: #862e9c; } //Darkest

.fuchsia-00 { color: #f8f0fc; } //Lighter
.fuchsia-02 { color: #eebefa; } //Light
.fuchsia-04 { color: #da77f2; } //Light

.fuchsia-05 { color: #cc5de8; } //Dark
.fuchsia-07 { color: #ae3ec9; } //Darker
.fuchsia-09 { color: #862e9c; } //Darkest

//5. VIOLET /( PURPLE )(violet-Urujuani) (Purple-Zambarau)
.violet-00 { color: #f3f0ff; } //Lightest
.violet-02 { color: #d0bfff; } //Lighter
.violet-04 { color: #9775fa; } //Light

.violet-05 { color: #845ef7; } //Dark
.violet-07 { color: #7048e8; } //Darker
.violet-09 { color: #5f3dc4; } //Darkest

//Open Colors doesn't have purple...but violet is pretty close to purple. So purple is violet in this instance.
.purple-00 { color: #f3f0ff; } //Lighter
.purple-02 { color: #d0bfff; } //Light
.purple-04 { color: #9775fa; } //Light

.purple-05 { color: #845ef7; } //Dark
.purple-07 { color: #7048e8; } //Darker
.purple-09 { color: #5f3dc4; } //Darkest


//6. INDIGO (Indigo - Nili, Bluu Iliyoiva)
.indigo-00 { color: #edf2ff; } //Lightest
.indigo-02 { color: #bac8ff; } //Lighter
.indigo-04 { color: #748ffc; } //Light

.indigo-05 { color: #5c7cfa; } //Dark
.indigo-07 { color: #4263eb; } //Darker
.indigo-09 { color: #364fc7; } //Darkest

//7. BLUE
.blue-00 { color: #e7f5ff; } //Lightest
.blue-02 { color: #a5d8ff; } //Lighter
.blue-04 { color: #4dabf7; } //Light

.blue-05 { color: #339af0; } //Dark
.blue-07 { color: #1c7ed6; } //Darker
.blue-09 { color: #1864ab; } //Darkest

//8. CYAN
.cyan-00 { color: #e3fafc; } //Lightest
.cyan-02 { color: #99e9f2; } //Lighter
.cyan-04 { color: #3bc9db; } //Light

.cyan-05 { color: #22b8cf; } //Dark
.cyan-07 { color: #1098ad; } //Darker
.cyan-09 { color: #0b7285; } //Darkest

//9. TEAL
.teal-00 { color: #e6fcf5; } //Lightest
.teal-02 { color: #96f2d7; } //Lighter
.teal-04 { color: #38d9a9; } //Light

.teal-05 { color: #20c997; } //Dark
.teal-07 { color: #0ca678; } //Darker
.teal-09 { color: #087f5b; } //Darkest

//10. GREEN
.green-00 { color: #ebfbee; } //Lighter
.green-02 { color: #b2f2bb; } //Light
.green-04 { color: #69db7c; } //Light


.green-05 { color: #51cf66; } //Dark
.green-07 { color: #37b24d; } //Darker
.green-09 { color: #2b8a3e; } //Darkest

//11. LIME
.lime-00 { color: #f4fce3; } //Lighter
.lime-02 { color: #d8f5a2; } //Light
.lime-04 { color: #a9e34b; } //Light


.lime-05 { color: #94d82d; } //Dark
.lime-07 { color: #74b816; } //Darker
.lime-09 { color: #5c940d; } //Darkest


//12. YELLOW
.yellow-00 { color: #fff9db; } //Lightest
.yellow-02 { color: #ffec99; } //Lighter
.yellow-04 { color: #ffd43b; } //Light

.yellow-05 { color: #fcc419; } //Dark
.yellow-07 { color: #f59f00; } //Darker
.yellow-09 { color: #e67700; } //Darkest

//13. ORANGE
.orange-00 { color: #fff4e6; } //Lightest
.orange-02 { color: #ffd8a8; } //Lighter
.orange-04 { color: #ffa94d; } //Light

.orange-05 { color: #ff922b; } //Dark
.orange-07 { color: #f76707; } //Darker
.orange-09 { color: #d9480f; } //Darkest

// 14. (I will add the fourteenth color)

//Extra colors
.white {color: #fff}
.black {color: #000}
.gray {color: #333}